<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ejercicio 1</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<div class="container">
 <h2>Formulario Notas</h2>
    <form action="/resultado_ejercicio1" method="POST">
        <label>Nota 1: <input type="number" name="nota1" min="10" max="70" required></label><br>
        <label>Nota 2: <input type="number" name="nota2" min="10" max="70" required></label><br>
        <label>Nota 3: <input type="number" name="nota3" min="10" max="70" required></label><br>
        <label>Asistencia (%): <input type="number" name="asistencia" min="0" max="100" required></label><br>

        <button type="submit">Enviar</button>

    </form>
</div>
</body>
</html>